@import "tailwindcss";

* {
    overflow-x: hidden;
}

body {
    cursor: url('/svg/cursor.svg') 16 16, auto;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -ms-user-drag: none;
}

@theme {
    --animate-rubberBand: rubberBand 0.9s;

    @keyframes rubberBand {
        0% {
            transform: scaleX(1);
        }
        30% {
            transform: scale3d(1.25, 0.75, 1);
        }
        40% {
            transform: scale3d(0.75, 1.25, 1);
        }
        50% {
            transform: scale3d(1.15, 0.85, 1);
        }
        65% {
          transform: scale3d(0.95, 1.05, 1);
        }
        75% {
            transform: scale3d(1.05, 0.95, 1);
        }
        to {
            transform: scaleX(1);
        }
    }
}